@import "tailwindcss";

/* Font Face Declarations for Amiamie */
@font-face {
  font-family: "Amiamie";
  src: url("/fonts/Amiamie-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/Amiamie-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/Amiamie-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/Amiamie-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/Amiamie-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Amiamie";
  src: url("/fonts/Amiamie-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Cs";
  src: url("/fonts/cs.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Add more font-face declarations for other variants as needed */

@theme {
  --color-primary: #e5e5e0;
  --color-DarkLava: #393632;
  --color-SageGray: #8b8b73;
  --color-gold: #cfa355;
  --color-pearl: #ebe9ea;
  --color-lavender: #caceee;
  --color-mauve: #9b97ad;
  --color-charcoal: #111111;

  /* Add Amiamie to your font family stack */
  --font-amiamie: "Amiamie", sans-serif;
  --font-amiamie-round: "Amiamie-Round", sans-serif;
  --font-cs: "Cs";

  --animate-marquee: marquee 40s infinite linear;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}

body {
  background: #111111;
  color: var(--color-pearl);
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-amiamie);
}

@utility clip-path {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

@utility banner-text-responsive {
  @apply text-[68px] sm:text-[118px] md:text-[126px] lg:text-[152px] leading-9 sm:leading-16 lg:leading-20;
}

@utility value-text-responsive {
  @apply   text-lg md:text-[26px] lg:text-[32px];
}

@utility marquee-text-responsive {
  @apply text-[28px] sm:text-[36px] lg:text-[42px];
}

@utility contact-text-responsive {
  @apply text-[40px] md:text-[58px];
}

